
Hello


<form class="form-inline">
	<input type="text" placeholder="Search Movies..." class="form-control" id="movie_title" data-remote='true'>	
	<span class="input-group-btn">
	  <button class='btn btn-default' id="movie_search">
	    <i class="fa fa-search"></i>
	  </button>
	</span>
</form>

